/*********** mobile css************/
.display-section {
  margin-top: 59px;
  text-align: center;
}
.display-section .sec-tit {
  margin-bottom: 30px;
}
.display-section .desc {
  font-family: "PT Serif";
  color: #616161;
  line-height: 1.9;
}

/*********** tablet css************/
@media all and (min-width: 768px) {
  .display-section {
    margin-top: 95px;
  }
}

/*********** pc css************/
@media all and (min-width: 1132px) {
  .display-section {
    text-align: left;
  }
  .display-section .sec-tit {
    float: left;
    margin-bottom: 0;
  }
  .display-section .desc {
    position: relative;
    float: right;
    padding-left: 20px;
    font-family: "PT Serif";
    color: #616161;
    line-height: 1.9;
  }
  .display-section .desc:before {
    display: block;
    position: absolute;
    top: 9px;
    left: 0;
    width: 2px;
    height: 44px;
    background: #e0e0e0;
    content: "";
  }
}
